In [ ]:
a=int(input("enter first numbers:"))
b=int(input("enter second numbers:"))

print("addition:",a+b)
print("substraction:",a-b)
print("division:",a/b)
print("multiplication:",a*b)
print("square:",a**2)

enter first numbers:5
enter second numbers:2
addition: 7
substraction: 3
division: 2.5
multiplication: 10
square: 25

In [ ]:
n=int(input("enter the age:"))
if n>18:
  print("eligible for vote")
else:
  print("not eligible for vote")

enter the age:12
not eligible for vote

In [ ]:
list1=["apple","banana","cherry"]

list1[2]="orange"
print(list1)

list1.append("kiwi")
print(list1)


list1.insert(2,"kiwi")
print(list1)
 
list1.pop(1) 
print(list1)

list1.remove("kiwi")
print(list1)

del list1[2]
print(list1)

list1.clear()
print(list1)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'kiwi']
['apple', 'banana', 'kiwi', 'orange', 'kiwi']
['apple', 'kiwi', 'orange', 'kiwi']
['apple', 'orange', 'kiwi']
['apple', 'orange']
[]